# Функции
### Домашнее задание

#### 1.
Почему возникла ошибка? Объясните и исправьте.

In [1]:
def factorial(n):
    f = 1
    for i in range(2, n + 1):
        f = f * i
    return f

f = factorial(3)
print(f)

6

**Объяснение:** 
<br>Переменная f - локальная в функции factorial, не определена как глобальная. Если попытаться обратиться к ней из глобального пространства имен, то возникает ошибка: NameError: name 'f' is not defined<br>

#### 2.
Почему переменная S после запуска функции сохранила значение ноль?

In [0]:
S = 0
def sum(n, m):
    S = n + m
    return S

print(sum(3, 4))
print(S)

7
0

**Объяснение:** 
<br>В данном случае имеются в глобальном и локальном (в функции sum) пространствах имен две разные переменные с одинаковым именем S. Изменение локальной переменной S не изменит значение глобальной переменной S.<br>

#### 3.
Почему возникла ошибка? Объясните и исправьте, чтобы функция могла работать с данными на входе в примере с `res`.

In [7]:
def mult(*, q, w, e, r, t, y):
    return q + w + e + r + t + y
res = mult(q=1, w=2, e=3, r=4, t=5, y=6)

**Объяснение:** 
<br>В принимаемых параметрах функции mult сначала указан знак '\*', что означает, что после него должны следовать именованные параметры. В данном случае возникает ошибка: TypeError: mult() takes 0 positional arguments but 6 were given<br>

#### 4.
Почему возникла ошибка? Объясните и исправьте, чтобы функция могла работать с данными на входе в примере.

In [8]:
def power(a, s, *, d):
    res = a ** s ** d
    print(res)
    
power(5, 6, d = 4)

733036532959081958493044038604220573003076872623105825587799726719137081664242889213090239865705342028379233496941111919796792708971905802219444504019006104332493489107721493845412453899793946281899700834091715387952751830219643610349979360602856524762182507733859966860842500858768382394753399581156286449561160783713877222895092808637540218804927005623038569306841733685039433236910980897592858987002063924013988530964522502594931500371157643132061597303111367258489022159044511817010529399435883286083212695075903281596592105429678751689059533454035251548334986509241552406961532864939006610513597608967402985707857424513196823658884413602881077337616965779954194874666031301491450438900838443296921074535307486056701074634195717288344127864971903293281532919139948732795811179970577905638353069459326437465009401802406334569163539571111057039009740125070184999823974525412495495402254164218902587890625

**Объяснение:** 
<br>В принимаемых параметрах функции power первые 2 - позиционные, 3-й - только именованный. В вызове функции 1-ым - указан именованный, следом - позиционные, что недопустимо. В данном случае возникает ошибка: SyntaxError: positional argument follows keyword argument<br>

#### 5.
Почему возникла ошибка? Объясните и исправьте, чтобы функция могла работать с данными на входе в примере.

In [24]:
def mult2(*args):
    res = 1
    for i in args:
        res += i
    return res

List = [1, 2, 3, 4, 5, 6, 7]
print(mult2(*List))

29

**Объяснение:** 
<br>В определениии функции mult2 подразумевается запаковка произвольного количества числовых параметров в tuple args, чтобы их потом просуммировать. При вызове функции задается список, с которым операция суммирования недопустима. Необходима распаковка параметров. В данном случае возникает ошибка: TypeError: unsupported operand type(s) for +=: 'int' and 'list'<br>

#### 6.
Почему возникла ошибка? Объясните и исправьте.

In [25]:
def some_function(a, b, *args, **kwargs):
    pass

**Объяснение:** 
<br>В принимаемых параметрах функции some_function первые 2 - позиционные, 3-й - запаковка произвольного количества именованных параметров в dict kwargs, 4-й - запаковка произвольного количества позиционных параметров в tuple args, что недопустимо. Необходимо поменять местами dict kwargs и tuple args. В данном случае возникает ошибка: SyntaxError: invalid syntax<br>

#### 7.
Почему не был создан новый список при повторном запуске функции? Объясните и исправьте.

In [27]:
def to_buy(*new_items, shopping_list = None):
    if shopping_list is None:
        shopping_list = []
    for i in new_items:
        shopping_list.append(i)
    return shopping_list

monday = to_buy('яблоки', 'молоко', 'хлеб')
print(monday)

tuesday = to_buy('груши', 'йогурт', 'мясо')
print(tuesday)

['яблоки', 'молоко', 'хлеб']
['груши', 'йогурт', 'мясо']

**Объяснение:** 
<br>В принимаемых параметрах функции to_buy последний параметр shopping_list по умолчанию задан как пустой список. При первом вызове функции список создается как локальная переменная и хранится в пространстве имен функции. При втором и последующих вызовах функции его значение сохраняется и в него добавляются переданные новые значения. Не рекомендуется в принимаемых параметрах функций в качестве значений по умолчанию задавать изменяемые типы данных, такие как list, dict, set.<br>

#### 8.
Измените данную функцию так, чтобы она распечатывала названия продуктов из словаря в примере.

In [37]:
def print_all(**kwargs):
    for keys, i in kwargs.items():
        print(keys, i)
        
print_all(**{'1' : 'яблоки', '2' :'молоко', '3' : 'хлеб', '4' : 'груши', '5' : 'йогурт', '6' : 'мясо'})

1 яблоки
2 молоко
3 хлеб
4 груши
5 йогурт
6 мясо

**Объяснение:** 
<br>В параметрах в определении функции print_all и ее вызове производится соответственно запаковка и распаковка параметров в тип tuple, хотя вызываемым параметром указан тип dict. Обработка в функции принимаемого параметра выполняется для типа tuple. В данном случае возникает ошибка:  TypeError: 'dict'/'tuple' object is not callable<br>

#### 9.
Программисты договорились, что переменные такого рода являются.. *(вопрос из лекции)*

In [0]:
TOKEN = ...

**Ответ:** 
<br>... глобальными переменными, которые обычно задаются в начале программы, и, изменение которых не рекомендуется в течение всего кода.<br>

#### 10.
Напишите функцию, которая с помощью рекурсии считает сумму последовательности с шагом m. В качестве аргументов подаются целые положительные числа n (последний элемент последовательности) и m (шаг последовательности). Считается, что все члены последовательности являются целыми положительными числами.

Пример:

```
sum_of_seq(5, 1)
15
 
sum_of_seq(5, 9)
5

sum_of_seq(8, 2)
20
```

In [40]:
def sum_of_seq(n: int, m: int):
    if n < 1:
        return 0
    n_prev = sum_of_seq(n - m, m)
    return n_prev + n

print(sum_of_seq(5, 1))

print(sum_of_seq(5, 9))

print(sum_of_seq(8, 2))

15
5
20

#### 11.
Напишите функцию, которая возводит число в положительную степень с помощью рекурсии. В качестве аргументов подаются целые положительные числа n (число) и m (степень).

In [55]:
def positive_degree(n: int, m: int):
    if m == 1:
        return n
    n_prev = positive_degree(n, m - 1)
    return n_prev * n

print(positive_degree(5, 3))

print(positive_degree(3, 4))

print(positive_degree(8, 2))

125
81
64

#### 12.
Напишите функцию, которая возводит число в отрицательную степень число с помощью рекурсии. В качестве аргументов подаются целое положительное число n (число) и целое отрицательное число m (степень).

In [54]:
def negative_degree(n: int, m: int):
    if m == -1:
        return 1 / n
    n_prev = negative_degree(n, m + 1)
    return n_prev / n

print(negative_degree(5, -3))

print(negative_degree(3, -4))

print(negative_degree(8, -2))

0.008
0.012345679012345678
0.015625

#### 13.

Напишите функцию, которая находит число Фиббоначи по его номеру. В качестве аргумента подается целое положительное число n (число).

In [57]:
def fibonacci(n: int):
    if n == 0:
        return 0
    n_prev = fibonacci(n - 1)
    return n_prev + n

print(fibonacci(5))

print(fibonacci(15))

print(fibonacci(25))

15
120
325