# Итоги. Практика. #

Каких-то дополнений и объяснений в этом дз будет минимум. Предполагается, что синтаксис вы усвоили хорошо. Вместо этого здесь будет много подводящих заданий. Они выстроены так, чтобы решение следующего задания логически продолжало решение предыдущего, и постепенно можно будет перейти от простых вещей к сложным.

Важная рекомендация: вы, конечно, можете пропускать задания на свой страх и риск, но я всё же рекомендую выполнить их все, даже если некоторые кажутся очень простыми.

Почаще печатайте промежуточные результаты. В задании сказано распечатать только четвёртый элемент списка? Помимо этого лучше печатайте значение элемента на каждой итерации, и когда удостоверитесь, что всё работает правильно, лишнюю печать уберите. Чем больше промежуточных результатов вы будете печатать, тем лучше будете понимать, как и что происходит.

В конце файла есть решения к заданиям, но настоятельно рекомендуется сначала попробовать решить задания своими силами.

1. Сначала давайте просто пройдёмся в цикле for по списку. Ниже вам дан список элементов. С помощью конструкции for ... in ... пройдитесь по списку и на каждой итерации с помощью функции print() печатайте текущий элемент

In [ ]:
my_list = [1, 2, "три", (4,), [5], {6: "шесть"}]
for item in my_list:
    print(item)

1
2
три
(4,)
[5]
{6: 'шесть'}

2. Отлично. Теперь попробуйте сделать то же самое, но с обратной стороны. От последнего элемента к первому. В этом вам может помочь функция reversed().

In [ ]:
my_list = [1, 2, "три", (4,), [5], {6: "шесть"}]
for item in my_list[::-1]:
    print(item)

{6: 'шесть'}
[5]
(4,)
три
2
1

3. Теперь вам дан новый список. Он состоит только из целых чисел. Попробуйте посчитать их сумму, используя цикл. Для этого заранее, до цикла, заведите переменную, в которой будет аккумулироваться сумма, и на каждой итерации прибавляйте к этой переменной очередной элемент списка

In [ ]:
sum = 0
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
for item in my_list:
    sum += item
print(sum)

55

4. Теперь попробуем нечто похожее со строками. В предыдущем модуле вам уже приходилось использовать конкатенацию строк. Заведите переменную под строку до начала цикла, и на каждой итерации складывайте эту переменную с очередным элементом списка

In [ ]:
string = ''
my_list = ["P", "y", "t", "h", "o", "n"]
for item in my_list:
    string += item
print(string)

Python

5. Отлично. Добавим условия. Ниже вам снова дан список. Пройдитесь по нему циклом for, но распечатайте только число 5.

In [ ]:
my_list = [1, 3, 5, 7, 9]
for item in my_list:
    if item == 5:
        print(item)

5

6. Добавим функцию range(). Видите ли, не всегда нам хочется проходиться по списку теми способами, которые мы использовали выше. Иногда нам хочется обращаться к каждому элементу списка по индексу. И для этого очень часто используется функция range(). Как вы помните, она создаёт список элементов. Функция range(10) создаст список [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]. А уже используя эти числа, мы можем обращаться к элементам другого списка по индексу. Скажем, нам дан список [1, "три", (5,), [7]]. Тогда, создав список элементов [0, 1, 2, 3], мы можем в цикле for пройтись по нему, и вызывать элементы данного нам списка, используя числа из созданного функцией range(). Попробуйте сделать это

In [ ]:
my_list = [1, 3, "пять", 7, 9, "11", 13, 15, "семнадцать"]
for i in range(9):
    print(my_list[i])

1
3
пять
7
9
11
13
15
семнадцать

7. А теперь то же самое, только немного усовершенствуем предыдущий алгоритм. Если мы заранее не знаем, сколько элементов содержит наш список, то каждый раз подсчитывать его длину вручную неудобно. Зато функция len() возвращает длину объекта. Теперь, вместо жёстко заданного значения в range(), вставьте туда длину списка с помощью len().

In [ ]:
my_list = [1, 3, "пять", 7, 9, "11", 13, 15, "семнадцать"]
for i in range(len(my_list)):
    print(my_list[i])

1
3
пять
7
9
11
13
15
семнадцать

8. Пройдитесь в цикле по списку, используя функцию range() и выведите только четвёртый объект на экран.

In [ ]:
my_list = [10, 9, 8, 7, 6, 5, 4, 3, 2, 1, 0]
for i, item in enumerate(my_list):
    if i == 3:
        print(item)
        break

7

9. Выведите на экран все элементы, которые меньше 5.

In [ ]:
my_list = [10, 8, 1, 3, 4, 6, 7, 8, 5, 5, 3, 2, 1, 1, 1, -10, -8, 6, 5, -3, -7, 3, 6]
for item in my_list:
    if item < 5:
        print(item)

1
3
4
3
2
1
1
1
-10
-8
-3
-7
3

10. Пройдитесь по списку с помощью функции range() и замените в списке значение шестого элемента на значение 6

In [ ]:
my_list = [1, 2, 3, 4, 5, 8, 7, 8]
for i in range(len(my_list)):
    if i == 5:
        my_list[5] = 6
        break
print(my_list)

[1, 2, 3, 4, 5, 6, 7, 8]

Обратите внимание: в Python существует функция enumerate(), которая ставит в соответствие каждому элементу индекс. Эту функцию часто целесообразнее использовать, чем range(). Пример:

In [ ]:
my_list = ["кошка", "собака", "гусь", "корова", "свинья"]

for i, element in enumerate(my_list):
  print(i, element)

0 кошка
1 собака
2 гусь
3 корова
4 свинья

11. Пройдитесь по списку и замените в нём каждый элемент со значением "три" на значение 3.

In [ ]:
my_list = [1, 2, "три", 8, 5, "три", 7, 9, "три"]
for i, item in enumerate(my_list):
    if item == "три":
        my_list[i] = 3
my_list

[1, 2, 3, 8, 5, 3, 7, 9, 3]

12. Используя условия, найдите в списке наибольший элемент из тех, которые делятся на 2 без остатка, и замените его на 12.

In [ ]:
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 22, 13]
max_item = min(my_list)
max_idx = 0
for i, item in enumerate(my_list):
    if item % 2 == 0 and item > max_item:
        max_item = item
        max_idx = i
my_list[max_idx] = 12
my_list

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13]

Стоит дать небольшое пояснение по поводу цикла for. Ранее мы уже меняли элементы списка при проходе в цикле, но не меняли сам список. И заметьте, что делать это крайне нежелательно! В цикле for количество итераций определяется сразу, как только цикл начинается. Если вы удалите элемент из списка при проходе, то длина списка уменьшится, а количество итераций не изменится. В итоге вы можете выйти за границы списка, что вызовет ошибку. Поэтому лучше подобные действия совершать в цикле while. Он не имеет заранее известного количества итераций и работает, пока не выполнится условие.

13. С помощью цикла while выведите на экран все элементы списка. Для этого заранее заведите переменную-счётчик и на каждой итерации прибавляйте к ней единицу, а условие будет выглядеть вот так: (while *счётчик* < len(my_list):)

In [ ]:
my_list = [1, 2, 3, 4, 5]
i = 0
while i < len(my_list):
    print(my_list[i])
    i += 1

1
2
3
4
5

14. С помощью while выведите все элементы списка с конца и до начала

In [ ]:
my_list = [1, 2, 3, 4, 5]
i = len(my_list)
while i > 0:
    print(my_list[i - 1])
    i -= 1

5
4
3
2
1

15. Теперь с помощью цикла while удалите из списка все элементы, которые равны 5. Затем распечатайте получившийся список.
Совет: на каждой итерации на всякий случай печатайте текущее значение проверяемого элемента. Постарайтесь понять, как поменяется индексация элементов в списке, после удаления одного из них

In [ ]:
my_list = [1, 3, 5, 1, 6, 5, 5, 9, 8, 5, 6, 5, 7, 5, 5]
i = 0
while i < len(my_list):
    if my_list[i] == 5:
        my_list.remove(5)
        i -= 1
    i += 1
print(my_list)

[1, 3, 1, 6, 9, 8, 6, 7]

16. Пройдитесь по списку с помощью цикла while и на каждой итерации сравнивайте текущий элемент со следующим. Если текущий элемент больше следующего, то поменяйте их местами (перезапишите значения, чтобы в следующем элементе оказалось значение текущего, а в текущем значение следующего). Если текущий элемент вы можете получить, обращаясь к нему по индексу i, где i - это счётчик вашего цикла, то к следующему вы можете обратиться, используя индекс i+1. Но будьте осторожны с выходом за границы списка!

In [ ]:
my_list = [1, 3, 2, 6, 8, 6, 7, 5, 5, 4, 9, 3]
i = 0
while i < len(my_list) - 1:
    if my_list[i] > my_list[i + 1]:
        temp = my_list[i]
        my_list[i] = my_list[i + 1]
        my_list[i + 1] = temp
        i = 0
    i += 1
print(my_list)

[1, 2, 3, 3, 4, 5, 5, 6, 6, 7, 8, 9]

17. С помощью цикла while пройдитесь по списку и, если текущий элемент равен 2, то вставляйте в список число 1 через два элемента от текущего

In [ ]:
my_list = [1, 2, 3, 2, 1, 1, 6, 2, 5, 19, 3, 2, 8, 8, 0, 2, 5, 5, 6, 7]
i = 0
while i < len(my_list) - 2:
    if my_list[i] == 2:
        my_list.insert(i + 3, 1)
    i += 1
print(my_list)

[1, 2, 3, 2, 1, 1, 1, 1, 6, 2, 5, 19, 1, 3, 2, 8, 8, 1, 0, 2, 5, 5, 1, 6, 7]

18. Пройдитесь в цикле по списку и замените каждый его элемент остатком этого элемента от деления на 2

In [ ]:
my_list = [1, 2, 3, 4, 5, 6]
i = 0
while i < len(my_list):
    my_list[i] = my_list[i] % 2
    i += 1
print(my_list)

[1, 0, 1, 0, 1, 0]

19. Вам дан список списков. Пройдитесь по нему и распечатайте каждый список, содержащийся внутри списка my_list

In [ ]:
my_list = [
    [1, 2, 3, 4, 5],
    [6, 7, 8, 9, 10],
    [11, 12, 13, 14, 15],
    [16, 17, 18, 19, 20],
    [21, 22, 23, 24, 25]
]
i = 0
while i < len(my_list):
    print(my_list[i])
    i += 1

[1, 2, 3, 4, 5]
[6, 7, 8, 9, 10]
[11, 12, 13, 14, 15]
[16, 17, 18, 19, 20]
[21, 22, 23, 24, 25]

20. Посчитайте сумму первых элементов всех списков

In [ ]:
my_list = [
    [1, 2, 3, 4, 5],
    [6, 7, 8, 9, 10],
    [11, 12, 13, 14, 15],
    [16, 17, 18, 19, 20],
    [21, 22, 23, 24, 25]
]
sum = 0
for item in my_list:
    sum += item[0]
print(sum)

55

21. Посчитайте сумму всех элементов первого списка.

In [ ]:
my_list = [
    [1, 2, 3, 4, 5],
    [6, 7, 8, 9, 10],
    [11, 12, 13, 14, 15],
    [16, 17, 18, 19, 20],
    [21, 22, 23, 24, 25]
]
sum = 0
for item in my_list[0]:
    sum += item
print(sum)

15

22. Посчитайте сумму всех элементов всех списков.

In [ ]:
my_list = [
    [1, 2, 3, 4, 5],
    [6, 7, 8, 9, 10],
    [11, 12, 13, 14, 15],
    [16, 17, 18, 19, 20],
    [21, 22, 23, 24, 25]
]
sum = 0
for item in my_list:
    for subitem in item:
        sum += subitem
print(sum)

325

23. И ещё раз, только теперь списки разной длины.

In [ ]:
my_list = [
    [1, 2, 3, 4, 5],
    [6, 7, 8, 9, 10, 26],
    [11, 12, 13, 14, 15, 27, 28, 29, 30, 31, 32],
    [16, 17, 18, 19, 20, 33, 34],
    [21]
]
sum = 0
for item in my_list:
    for subitem in item:
        sum += subitem
print(sum)

501

24. Пройдитесь по всем спискам и из каждого удалите цифру 1221.

In [ ]:
my_list = [
    [1, 2, 3, 4, 5, 6, 7, 8, 1221, 9, 10],
    [1221, 7, 8, 1221, 9, 10],
    [11, 12, 1221, 14, 15],
    [1221],
    [1221, 1221, 1221, 22, 1221, 1221, 1221]
]
for item in my_list:
    i = 0
    while i < len(item):
        if item[i] == 1221:
            item.remove(1221)
            i -= 1
        i += 1
print(my_list)

[[1, 2, 3, 4, 5, 6, 7, 8, 9, 10], [7, 8, 9, 10], [11, 12, 14, 15], [], [22]]

Ну вот и всё. Если вы самостоятельно решили эти задания, то можете перейти к дз пятого модуля и попробовать решить представленные там задачи.

Последнее дополнительное задание. Ниже представлен ошибочный код. Прочитайте ошибку, загуглите её. Если не знаете английского языка, закиньте информацию по этой ошибке в переводчик. Важно, чтобы вы поняли, из-за чего возникает данная ошибка, и научились работать с текстом возникающих ошибок. Понимать их. Искать их.

Удачи.

In [ ]:
my_list = [3, 2, 5, 7, 6, 8]
for i in range(7):
    print(my_list[i])

3
2
5
7
6
8

IndexError: list index out of range

In [ ]:
b = 12
c = 34
my_list = [a, b, c]
a = 14

NameError: name 'a' is not defined

In [ ]:
a = 13
if a > 5:

SyntaxError: unexpected EOF while parsing (<ipython-input-39-87f3f7dc64ac>, line 2)

In [ ]:
a = 28
if a < 6:
    pass
    else:
        print(44)

SyntaxError: invalid syntax (<ipython-input-40-0e78f23da1df>, line 4)

# Решения заданий #

1. Сначала давайте просто пройдёмся в цикле for по списку. Ниже вам дан список элементов. С помощью конструкции for ... in ... пройдитесь по списку и на каждой итерации с помощью функции print() печатайте текущий элемент

In [ ]:
my_list = [1, 2, "три", (4,), [5], {6: "шесть"}]

### YOUR CODE HERE ###
for element in my_list:
  print(element)

1
2
три
(4,)
[5]
{6: 'шесть'}

2. Отлично. Теперь попробуйте сделать то же самое, но с обратной стороны. От последнего элемента к первому. В этом вам может помочь функция reversed().

In [ ]:
my_list = [1, 2, "три", (4,), [5], {6: "шесть"}]

### YOUR CODE HERE ###
for element in reversed(my_list):
  print(element)

{6: 'шесть'}
[5]
(4,)
три
2
1

3. Теперь вам дан новый список. Он состоит только из целых чисел. Попробуйте посчитать их сумму, используя цикл. Для этого заранее, до цикла, заведите переменную, в которой будет аккумулироваться сумма, и на каждой итерации прибавляйте к этой переменной очередной элемент списка

In [ ]:
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

### YOUR CODE HERE ###
my_sum = 0
for element in my_list:
  my_sum += element
print(my_sum)

55

4. Теперь попробуем нечто похожее со строками. В предыдущем модуле вам уже приходилось использовать конкатенацию строк. Заведите переменную под строку до начала цикла, и на каждой итерации складывайте эту переменную с очередным элементом списка

In [ ]:
my_list = ["P", "y", "t", "h", "o", "n"]

### YOUR CODE HERE ###
my_str = ""
for char in my_list:
  my_str += char
print(my_str)

Python

5. Отлично. Добавим условия. Ниже вам снова дан список. Пройдитесь по нему циклом for, но распечатайте только число 5.

In [ ]:
my_list = [1, 3, 5, 7, 9]

### YOUR CODE HERE ###
for element in my_list:
  if element == 5:
    print(element)

5

6. Добавим функцию range(). Видите ли, не всегда нам хочется проходиться по списку теми способами, которые мы использовали выше. Иногда нам хочется обращаться к каждому элементу списка по индексу. И для этого очень часто используется функция range(). Как вы помните, она создаёт список элементов. Функция range(10) создаст список [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]. А уже используя эти числа, мы можем обращаться к элементам другого списка по индексу. Скажем, нам дан список [1, "три", (5,), [7]]. Тогда, создав список элементов [0, 1, 2, 3], мы можем в цикле for пройтись по нему, и вызывать элементы данного нам списка, используя числа из созданного функцией range(). Попробуйте сделать это

In [ ]:
my_list = [1, 3, "пять", 7, 9, "11", 13, 15, "семнадцать"]

### YOUR CODE HERE ###
for i in range(9):
  print(my_list[i])

1
3
пять
7
9
11
13
15
семнадцать

7. А теперь то же самое, только немного усовершенствуем предыдущий алгоритм. Если мы заранее не знаем, сколько элементов содержит наш список, то каждый раз подсчитывать его длину вручную неудобно. Зато функция len() возвращает длину объекта. Теперь, вместо жёстко заданного значения в range(), вставьте туда длину списка с помощью len().

In [ ]:
my_list = [1, 3, "пять", 7, 9, "11", 13, 15, "семнадцать"]

### YOUR CODE HERE ###
for i in range(len(my_list)):
  print(my_list[i])

1
3
пять
7
9
11
13
15
семнадцать

8. Пройдитесь в цикле по списку, используя функцию range() и выведите только четвёртый объект на экран.

In [ ]:
my_list = [10, 9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

### YOUR CODE HERE ###
for i in range(len(my_list)):
  if i == 3:
    print(my_list[i])

7

9. Выведите на экран все элементы, которые меньше 5.

In [ ]:
my_list = [10, 8, 1, 3, 4, 6, 7, 8, 5, 5, 3 ,2 ,1 ,1 ,1 -10, -8, 6, 5, -3, -7, 3, 6]

### YOUR CODE HERE ###
for element in my_list:
  if element < 5:
    print(element)

1
3
4
3
2
1
1
-9
-8
-3
-7
3

10. Пройдитесь по списку с помощью функции range() и замените в списке значение шестого элемента на значение 6

In [ ]:
my_list = [1, 2, 3, 4, 5, 8, 7, 8]

### YOUR CODE HERE ###
for i in range(len(my_list)):
  if i == 5:
    my_list[i] = 6
print(my_list)

[1, 2, 3, 4, 5, 6, 7, 8]

Обратите внимание: в Python существует функция enumerate(), которая ставит в соответствие каждому элементу индекс. Эту функцию часто целесообразнее использовать, чем range(). Пример:

In [ ]:
my_list = ["кошка", "собака", "гусь", "корова", "свинья"]

for i, element in enumerate(my_list):
  print(i, element)

0 кошка
1 собака
2 гусь
3 корова
4 свинья

11. Пройдитесь по списку и замените в нём каждый элемент со значением "три" на значение 3.

In [ ]:
my_list = [1, 2, "три", 8, 5, "три", 7, 9, "три"]

### YOUR CODE HERE ###
for i, element in enumerate(my_list):
  if element == "три":
    my_list[i] = 3
print(my_list)

[1, 2, 3, 8, 5, 3, 7, 9, 3]

12. Используя условия, найдите в списке наибольший элемент из тех, которые делятся на 2 без остатка, и замените его на 12.

In [ ]:
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 22, 13]

### YOUR CODE HERE ###
for i, element in enumerate(my_list):
  if element % 2 == 0:
    my_list[i] = 12
print(my_list)

[1, 12, 3, 12, 5, 12, 7, 12, 9, 12, 11, 12, 13]

Стоит дать небольшое пояснение по поводу цикла for. Ранее мы уже меняли элементы списка при проходе в цикле, но не меняли сам список. И заметьте, что делать это крайне нежелательно! В цикле for количество итераций определяется сразу, как только цикл начинается. Если вы удалите элемент из списка при проходе, то длина списка уменьшится, а количество итераций не изменится. В итоге вы можете выйти за границы списка, что вызовет ошибку. Поэтому лучше подобные действия совершать в цикле while. Он не имеет заранее известного количества итераций и работает, пока не выполнится условие.

13. С помощью цикла while выведите на экран все элементы списка. Для этого заранее заведите переменную-счётчик и на каждой итерации прибавляйте к ней единицу, а условие будет выглядеть вот так: (while *счётчик* < len(my_list):)

In [ ]:
my_list = [1, 2, 3, 4, 5]

### YOUR CODE HERE ###
i = 0
while i < len(my_list):
  print(my_list[i])
  i += 1

1
2
3
4
5

14. С помощью while выведите все элементы списка с конца и до начала

In [ ]:
my_list = [1, 2, 3, 4, 5]

### YOUR CODE HERE ###

i = 0
while i < len(my_list):
  print(my_list[len(my_list)-(i+1)])
  i += 1

5
4
3
2
1

15. Теперь с помощью цикла while удалите из списка все элементы, которые равны 5. Затем распечатайте получившийся список.
Совет: на каждой итерации на всякий случай печатайте текущее значение проверяемого элемента. Постарайтесь понять, как поменяется индексация элементов в списке, после удаления одного из них

In [ ]:
my_list = [1, 3, 5, 1, 6, 5, 5, 9, 8, 5, 6, 5, 7, 5, 5]

### YOUR CODE HERE ###
i = 0
while i < len(my_list):
  if my_list[i] == 5:
    del my_list[i]
  else:
    i += 1
print(my_list)

[1, 3, 1, 6, 9, 8, 6, 7]

16. Пройдитесь по списку с помощью цикла while и на каждой итерации сравнивайте текущий элемент со следующим. Если текущий элемент больше следующего, то поменяйте их местами (перезапишите значения, чтобы в следующем элементе оказалось значение текущего, а в текущем значение следующего). Если текущий элемент вы можете получить, обращаясь к нему по индексу i, где i - это счётчик вашего цикла, то к следующему вы можете обратиться, используя индекс i+1. Но будьте осторожны с выходом за границы списка!

In [ ]:
my_list = [1, 3, 2, 6, 8, 6, 7, 5, 5, 4, 9, 3]

### YOUR CODE HERE ###
i = 0
while i < len(my_list)-1:
  if my_list[i] > my_list[i+1]:
    # либо так
      buf_var = my_list[i]
      my_list[i] = my_list[i+1]
      my_list[i+1] = buf_var
    # либо так 
    #  my_list[i], my_list[i+1] = my_list[i+1], my_list[i]
    # (но так можно не во всех языках программирования!)
  else:
    i += 1
print(my_list)


# Заметье, что список не отсортировался полностью! 
# По формулировке задания нам и не нужно было осуществлять сортировку.

[1, 2, 3, 6, 6, 7, 5, 5, 4, 8, 3, 9]

17. С помощью цикла while пройдитесь по списку и, если текущий элемент равен 2, то вставляйте в список число 1 через два элемента от текущего

In [ ]:
my_list = [1, 2, 3, 2, 1, 1, 6, 2, 5, 19, 3, 2, 8, 8, 0, 2, 5, 5, 6, 7]

### YOUR CODE HERE ###
i = 0
while i < len(my_list):
  if my_list[i] == 2:
    my_list.insert(i+2, 1)
  i += 1
print(my_list)

[1, 2, 3, 1, 2, 1, 1, 1, 6, 2, 5, 1, 19, 3, 2, 8, 1, 8, 0, 2, 5, 1, 5, 6, 7]

18. Пройдитесь в цикле по списку и замените каждый его элемент остатком этого элемента от деления на 2

In [ ]:
my_list = [1, 2, 3, 4, 5, 6]

### YOUR CODE HERE ###
i = 0
while i < len(my_list):
  my_list[i] = my_list[i] % 2
  i += 1
print(my_list)

[1, 0, 1, 0, 1, 0]

19. Вам дан список списков. Пройдитесь по нему и распечатайте каждый список, содержащийся внутри списка my_list

In [ ]:
my_list = [
    [1, 2, 3, 4, 5],
    [6, 7, 8, 9, 10],
    [11, 12, 13, 14, 15],
    [16, 17, 18, 19, 20],
    [21, 22, 23, 24, 25]
]


### YOUR CODE HERE ###
for element in my_list:
  print(my_list)

20. Посчитайте сумму первых элементов всех списков

In [ ]:
my_list = [
    [1, 2, 3, 4, 5],
    [6, 7, 8, 9, 10],
    [11, 12, 13, 14, 15],
    [16, 17, 18, 19, 20],
    [21, 22, 23, 24, 25]
]

### YOUR CODE HERE ###
my_sum = 0
for element in my_list:
  my_sum += element[0]
print(my_sum)

55

21. Посчитайте сумму всех элементов первого списка.

In [ ]:
my_list = [
    [1, 2, 3, 4, 5],
    [6, 7, 8, 9, 10],
    [11, 12, 13, 14, 15],
    [16, 17, 18, 19, 20],
    [21, 22, 23, 24, 25]
]

### YOUR CODE HERE ###
my_sum = 0
for element in my_list[0]:
  my_sum += element
print(my_sum)

15

22. Посчитайте сумму всех элементов всех списков.

In [ ]:
my_list = [
    [1, 2, 3, 4, 5],
    [6, 7, 8, 9, 10],
    [11, 12, 13, 14, 15],
    [16, 17, 18, 19, 20],
    [21, 22, 23, 24, 25]
]

### YOUR CODE HERE ###
my_sum = 0
for element in my_list:
  my_sum += element[0] + element[1] + element[2] + element[3] + element[4]
print(my_sum)

325

23. И ещё раз, только теперь списки разной длины.

In [ ]:
my_list = [
    [1, 2, 3, 4, 5],
    [6, 7, 8, 9, 10, 26],
    [11, 12, 13, 14, 15, 27, 28, 29, 30, 31, 32],
    [16, 17, 18, 19, 20, 33, 34],
    [21]
]

### YOUR CODE HERE ###
my_sum = 0
for element_list in my_list:
  for element in element_list:
    my_sum += element
print(my_sum)

501

24. Пройдитесь по всем спискам и из каждого удалите цифру 1221.

In [ ]:
my_list = [
    [1, 2, 3, 4, 5, 6, 7, 8, 1221, 9, 10],
    [1221, 7, 8, 1221, 9, 10],
    [11, 12, 1221, 14, 15],
    [1221],
    [1221, 1221, 1221, 22, 1221, 1221, 1221]
]

### YOUR CODE HERE ###
for i, lst in enumerate(my_list):
  j = 0
  while j < len(lst):
    if lst[j] == 1221:
      del lst[j]
    else:
      j += 1
  my_list[i] = lst # Строго говоря, эту строку можно убрать — ничего не изменится. 
  #Для того, чтобы понять, почему так, рекомендуется ознакомиться со следующим материалом:
  # https://pythonist-ru.turbopages.org/pythonist.ru/s/kopirovanie-obektov-v-python/

my_list

[[1, 2, 3, 4, 5, 6, 7, 8, 9, 10], [7, 8, 9, 10], [11, 12, 14, 15], [], [22]]